@import "./variables.scss";
.tvShows {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
}
.tvShow-container {
  background-color: $black;
  width: 280px;
  border-radius: 15px;
  margin: 60px 20px 20px;
  padding: 7px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  font-family: $content;
}
.tvShow-img {
  display: block;
  margin: 0 auto;
  text-align: center;
  img {
    width: 210px;
    border-radius: 10px;
    margin-top: -50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
}
.tvShow-info {
  padding-top: 10px;
  h1 {
    color: $red;
    font-family: $title;
  }
  h5 {
    span {
      float: right;
    }
  }
}
